{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href={{url_for('studenti')}} >Evidencija Studenata</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href={{url_for('studenti')}} >Studenti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href={{url_for('predmeti')}} >Predmeti</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href={{url_for('korisnici')}} >Korisnici</a>
      </li>
    </ul>
   
    <form action={{url_for('logout')}} method="GET">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-sign-out-alt"></i>
      </button>
      
    </form>

  </div>
</nav>
<div class="row justify-content-center mb-5">
    <form action={{url_for('ocena_izmena', id=id2, id1=stid)}} method="POST">
    <div class="lead my-3 col-10; text-center">Izmena ocene</div><br>
    <label for="izaberi">Predmet</label>
<select class="custom-select mr-sm-2" id="izaberi" name="izbor">
    <option value={{predmet_id.predmet_id}}>{{predmeti.naziv}}</option>
  </select>

<div class="form-group">
    <label for="ocena">Ocena</label>
    <input type="number" min="5" max="10" class="form-control" id="ocena" name="ocena" value={{ocena.ocena}}>
  </div>

  <div class="form-group">
    <label for="datum">Datum</label>
    <input type="date" class="form-control" id="datum" name="datum" value={{ocena.datum}}>
  </div>
  <div class="d-flex justify-content-center">
    <input type="submit" class="btn btn-primary mb-3 ml-3" role="button" value="Sačuvaj"/>
  </div>
</form>
</div>
</div>

{% endblock %}