{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href={{url_for('studenti')}} >Evidencija Studenata</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href={{url_for('studenti')}} >Studenti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href={{url_for('predmeti')}} >Predmeti</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href={{url_for('korisnici')}} >Korisnici</a>
      </li>
    </ul>
   
    <form action={{url_for('logout')}} method="GET">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-sign-out-alt"></i>
      </button>
      
    </form>

  </div>
</nav>
<div class="container">
  <div class="row justify-content-left">
    <div class='col-lg-6 col-xs-12'>
      <div class="lead my-3 col-6">Izmena Studenta</div><br>
      <form action={{url_for('student_izmena', id=student.id)}} method="POST">
        
        <div class="form-group col-6 ">
          <label for="ime">Ime</label>
          <input type="text" class="form-control" id="ime" name="ime" value={{student.ime}}>
        </div>
      
        <div class="form-group col-6 ">
          <label for="ime_roditelja">Ime roditelja</label>
          <input type="text" class="form-control" id="ime_rod" name="ime_roditelja" value={{student.ime_roditelja}}>
        </div>
          
      <div class="form-group col-6 ">
        <label for="prezime">Prezime</label>
        <input type="text" class="form-control" id="prezime" name="prezime" value={{student.prezime}}>
      </div>
    
      <div class="form-group col-6 ">
        <label for="broj_indeksa">Broj indeksa</label>
        <input type="text" class="form-control" id="br_indeksa" name="broj_indeksa" value={{student.broj_indeksa}}>
      </div>
    
      <div class="form-group col-6 ">
        <label for="godina_studija">Godina studija</label>
        <input type="text" class="form-control" id="br_indeksa" name="godina_studija" value={{student.godina_studija}}>
      </div>  
    
      <div class="form-group col-6 ">
        <label for="jmbg">JMBG</label>
        <input type="text" class="form-control" id="br_indeksa" name="jmbg" value={{student.jmbg}}>
      </div>
    
      <div class="form-group col-6 ">
        <label for="datum_rodjenja">Datum rodjenja</label>
        <input type="text" class="form-control" id="br_indeksa" name="datum_rodjenja" value={{student.datum_rodjenja}}>
      </div>
    
      <div class="form-group col-6 ">
        <label for="broj_telefona">Broj Telefona</label>
        <input type="text" class="form-control" id="broj_telefona" name="broj_telefona" value={{student.broj_telefona}}>
      </div>
    
        <div class="form-group col-6 ">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" value={{student.email}}>
        </div>
        <input type="submit" class="btn btn-outline-primary mb-3 ml-3" role="button" value="Sačuvaj"/>
      </form>
    </div>
  </div>
</div>
 {% endblock %}